<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Newspaper Analysis
    </title>
    <meta name="description" content="description here" />
    <meta name="keywords" content="keywords,here" />

    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,700,800"
      rel="stylesheet"
    />
<link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
 
    <!--Replace with your tailwind.css once created-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link
      rel="stylesheet"
      href="	https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css	"
    />
    <link
      rel="stylesheet"
      href="	https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css	"
    />

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="	https://code.jquery.com/jquery-3.3.1.js	"></script>
    <script src="	https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js	"></script>
    <script src="	https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js	"></script>
    <script src="	https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js	"></script>
    <script src="	https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js	"></script>
    <script src="	https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js	"></script>
    <script src="	https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js	"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>

   <link
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style>
      .nunito {
        font-family: "nunito", font-sans;
      }

      .border-b-1 {
        border-bottom-width: 1px;
      }

      .border-l-1 {
        border-left-width: 1px;
      }

      hover\:border-none:hover {
        border-style: none;
      }

      #sidebar {
        transition: ease-in-out all 0.3s;
        z-index: 9999;
      }

      #sidebar span {
        opacity: 0;
        position: absolute;
        transition: ease-in-out all 0.1s;
      }

      #sidebar:hover {
        width: 150px;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        /*shadow-2xl*/
      }

      #sidebar:hover span {
        opacity: 1;
      }
      
    </style>
  </head>

  <body class="flex h-screen bg-gray-100 font-sans">
    <!-- Side bar-->
    <div
      id="sidebar"
      class="h-screen w-16 menu bg-white text-white px-4 flex items-center nunito static fixed shadow"
    >
      <ul class="list-reset ">
        <li class="my-2 md:my-0">
          <a
            href="/"
            class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400"
          >
            <i class="fas fa-home fa-fw mr-3"></i
            ><span class="w-full inline-block pb-1 md:pb-0 text-sm">Home</span>
          </a>
        </li>
        <li class="my-2 md:my-0 ">
          <a
            target="_blank"
            href="https://iase-web.org/documents/papers/rt2016/Klein.pdf"
            class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400"
          >
            <i class="fas fa-paperclip fa-fw mr-3"></i
            ><span class="w-full inline-block pb-1 md:pb-0 text-sm">Paper</span>
          </a>
        </li>
        <li class="my-2 md:my-0">
          <a
            href="#"
            class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400"
          >
            <i class="fab fa-github-alt mr-3"></i></i
            ><span class="w-full inline-block pb-1 md:pb-0 text-sm"
              >Github</span
            >
          </a>
        </li>
        <li class="my-2 md:my-0">
          <a
            href="#"
            class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400"
          >
            <i class="fas fa-chart-area fa-fw mr-3"></i
            ><span class="w-full inline-block pb-1 md:pb-0 text-sm"
              >Analytics</span
            >
          </a>
        </li>
      </ul>
    </div>

    <div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16">
      <div class="h-40 lg:h-20 w-full flex flex-wrap">
        <nav
          id="header1"
          class="bg-gray-100 w-auto flex-1 border-b-1 border-gray-300 order-1 lg:order-2"
        >
          <div class="flex h-full justify-between items-center">
            <a href="/">
              <p class="text-1xl text-indigo-500">
                <span class="ml-8"
                  ><i class="far fa-newspaper"></i>&nbsp; Statistical Literacy
                  Indicator</span
                >
              </p>
              <p class="text-gray-600">
                <span class="ml-8">BASED ON NATIONAL NEWSPAPER ARCHIVES</span>
              </p>
            </a>
          </div>
        </nav>
      </div>

      <!--Dash Content -->
      <div
        id="dash-content"
        class="bg-gray-200 py-6 lg:py-0 w-full lg:max-w-sm flex flex-wrap content-start"
      >
        <div class="w-1/2 lg:w-full">
          <div 
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6"
          >
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded-full p-3 bg-gray-300">
                  <i class="fa fa-rss fa-fw fa-inverse text-indigo-500"></i>
                </div>
              </div>
              <div class="flex-1 items-center">
                <h3 class="font-bold text-3xl">
                  6 Newspapers
                </h3>
                <h5 class="font-bold text-gray-500">with RSS feed</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="w-1/2 lg:w-full">
          <div aria-label="{{ level1_keywords }}" data-balloon-pos="right"
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6"
          >
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded-full p-3 bg-gray-300">
                  <i class="fas fa-users fa-fw fa-inverse text-indigo-500"></i>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="font-bold text-3xl">
                  {{len_data_level_1}} Keywords
                </h3>
                <h5 class="font-bold text-gray-500">Level 1 Analysis</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="w-1/2 lg:w-full">
          <div aria-label="{{ level2_keywords }}" data-balloon-pos="right"
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6"
          >
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded-full p-3 bg-gray-300">
                  <i
                    class="fas fa-user-plus fa-fw fa-inverse text-indigo-500"
                  ></i>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="font-bold text-3xl">
                  {{len_data_level_2}} Keywords
                </h3>
                <h5 class="font-bold text-gray-500">Level 2 Analysis</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="w-1/2 lg:w-full">
          <div aria-label="{{ level3_keywords }}" data-balloon-pos="right"
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6"
          >
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded-full p-3 bg-gray-300">
                  <i
                    class="fas fa-user-plus fa-fw fa-inverse text-indigo-500"
                  ></i>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="font-bold text-3xl">
                  {{len_data_level_3}} Keywords
                </h3>
                <h5 class="font-bold text-gray-500">Level 3 Analysis</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="w-1/2 lg:w-full">
          <div
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6"
          >
            <div class="flex flex-col items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded-full p-3 bg-gray-300">
                  <i class="fas fa-server fa-fw fa-inverse text-indigo-500"></i>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="font-bold text-3xl">{{total_articles}}</h3>
                <h5 class="font-bold text-gray-500">Total News Articles</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Graph Content -->
      <div id="main-content" class="w-full flex-1">
        <div class="flex flex-1 flex-wrap">
          <div class="w-full xl:w-2/3 p-6 xl:max-w-6xl">
            <!--"Container" for the graphs"-->
            <div class="max-w-full lg:max-w-3xl xl:max-w-5xl">
              <!--Graph Card-->
              <div class="border-b p-3">
                <h5 class="font-bold text-black">Level 1 Analysis Chart</h5>
              </div>
              <div class="p-5">
                <div class="ct-chart ct-golden-section">
                  {{div1|safe}}
                </div>
              </div>
              <!--/Graph Card-->

              <!--Table Card-->
              <div class="p-3">
                <div class="border-b p-3">
                  <h5 class="font-bold text-black">Level 1 Analysis Table</h5>
                </div>
                <div class="p-5">
                  <!-- {% for table in tables %} {{ table|safe }} {% endfor %} -->
                <table class="table-auto" style="width: 100%;">
                  <thead>
                    <tr>
                        {% for col in column_names_level1 %}
                        <th class="px-4 py-2">{{col}}</th>
                        {% endfor %}
                    </tr>
                  </thead>
                    {% for row in row_data_level1 %}
                    <tr>
                      {% for r in row %}
                        <td class="border px-4 py-2">{{r}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}

                </table>
                </div>
              </div>
              <!--/table Card-->
                            
              <div class="border-b p-3">
                <h5 class="font-bold text-black">Level 2 Analysis Chart</h5>
              </div>
              <div class="p-5">
                <div class="ct-chart ct-golden-section">
                  {{div4|safe}}
                </div>
              </div>
              <!--/Graph Card-->
                            <!--Table Card-->
              <div class="p-3">
                <div class="border-b p-3">
                  <h5 class="font-bold text-black">Level 2 Analysis Table</h5>
                </div>
                <div class="p-5">
                  <!-- {% for table in tables %} {{ table|safe }} {% endfor %} -->
                <table class="table-auto" style="width: 100%;">
                  <thead>
                    <tr>
                        {% for col in column_names_level2 %}
                        <th class="px-4 py-2">{{col}}</th>
                        {% endfor %}
                    </tr>
                  </thead>
                    {% for row in row_data_level2 %}
                    <tr>
                      {% for r in row %}
                        <td class="border px-4 py-2">{{r}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}

                </table>
                </div>
              </div>
              <!--/table Card-->
              <div class="border-b p-3">
                <h5 class="font-bold text-black">Level 3 Analysis Chart</h5>
              </div>
              <div class="p-5">
                <div class="ct-chart ct-golden-section">
                  {{div6|safe}}
                </div>
              </div>
              <!--/Graph Card-->
                            <!--Table Card-->
              <div class="p-3">
                <div class="border-b p-3">
                  <h5 class="font-bold text-black">Level 3 Analysis Table</h5>
                </div>
                <div class="p-5">
                  <!-- {% for table in tables %} {{ table|safe }} {% endfor %} -->
                <table class="table-auto" style="width: 100%;">
                  <thead>
                    <tr>
                        {% for col in column_names_level3 %}
                        <th class="px-4 py-2">{{col}}</th>
                        {% endfor %}
                    </tr>
                  </thead>
                    {% for row in row_data_level3 %}
                    <tr>
                      {% for r in row %}
                        <td class="border px-4 py-2">{{r}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}

                </table>
                </div>
              </div>
              <!--/table Card-->
            </div>
          </div>

          <div
            class="w-full xl:w-1/3 p-6 xl:max-w-4xl border-l-1 border-gray-300"
          >
            <!--"Container" for the graphs"-->
            <div class="max-w-sm lg:max-w-3xl xl:max-w-5xl">
              <!--Graph Card-->

              <div class="border-b p-3">
                <h5 class="font-bold text-black">Level 1 Percentage</h5>
              </div>
              <div class="p-5">
                <div class="ct-chart ct-golden-section">
                  {{div2|safe}}
                </div>
              </div>

              <div class="border-b p-3">
                <h5 class="font-bold text-black">Level 2 Percentage</h5>
              </div>
              <div class="p-5">
                <div class="ct-chart ct-golden-section">
                  {{div5|safe}}
                </div>
              </div>

              <div class="border-b p-3">
                <h5 class="font-bold text-black">Level 3 Percentage</h5>
              </div>
              <div class="p-5">
                <div class="ct-chart ct-golden-section">
                  {{div7|safe}}
                </div>
              </div>


              <div class="border-b p-3">
                <h5 class="font-bold text-black">News Articles Collected</h5>
              </div>
              <div class="p-5">
                <div class="ct-chart ct-golden-section">
                  {{div3|safe}}
                </div>
              </div>

              <!--/Graph Card-->

              <!--Template Card-->
              <div class="p-3">
                <div class="border-b p-3">
                  <h5 class="font-bold text-black">About</h5>
                </div>
                <div class="p-5"></div>
              </div>
              <!--/Template Card-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
