Flask==1.1.1
Jinja2==2.11.3
Flask-Bcrypt==0.7.1
python-dotenv==0.10.3
plotly==4.3.0
pandas==0.25.3
python-dotenv==0.10.3
feedparser==5.2.1
beautifulsoup4==4.8.1
nltk==3.4.5
lxml==4.4.2
APScheduler==3.6.3
Flask-BasicAuth==0.2.0
s3fs==0.5.1
boto3==1.16.15